.route-summary {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .distance {
    font-size: 22px;
    text-align: center;
  }
  .cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    .calculate {
      input {
        width: 70px;
        height: 30px;
        font-size: 20px;
      }
    }
    p,
    label {
      font-size: 22px;
    }
  }
  button {
    padding: 10px 30px;
    font-size: 18px;
  }
  .delete {
    color: red;
  }
}
